.parent {
  background-color: black;
  width: 300px;
  height: 100px;
  position: relative;
}

.child1 {
  background-color: bisque;
  position: absolute;
  width: 100px;
  height: 20px;
  top: 70px;
  left: 50px;
}

.child2 {
  background-color: aquamarine;
  position: absolute;
}

/* .child3 {
  background-color: red;
  color: white;
  position: absolute;
      right: 10px;
} */

.child3 {
  background-color: red;
  color: white;
  position: fixed;
  left: 20px;
}
